.myinput {
    width: 100%;
    /* background-color: black; */
    border-radius: 10px;
    color: #000000;
    border: 1px solid white;
    padding: 3px;
    padding-left: 10px;
    /* margin-bottom: 10px; */
    outline: 0px;
}

.myinput:active {
    border-color: #007bff;
}

.myinput:hover {
    border-color: #007bff;
}

.myinput::selection {
    border-color: #007bff;
}