.form {
    padding: 20px;
    background: #373A44;
    color: #27AE60;
    border-radius: 10px;
    margin-bottom: 10px;
}

h4 {
    color: #fff;
}

.numberSpan {
    color: #27AE60;
    font-size: 20px;
}